@model CollateralCreatorAdminWeb.Models.TextArea

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TextArea</legend>         
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.AreaID, "Custom Area")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AreaID", "Select AreaID")            
            @Html.ValidationMessageFor(model => model.AreaID)
        </div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Text, new { style = "Width:500px; height:100px" })
            @Html.ValidationMessageFor(model => model.Text)
        </div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.FullyEditable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FullyEditable)
            @Html.ValidationMessageFor(model => model.FullyEditable)
        </div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.CharsPerLine)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CharsPerLine)
            @Html.ValidationMessageFor(model => model.CharsPerLine)
        </div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.Lines)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Lines)
            @Html.ValidationMessageFor(model => model.Lines)
        </div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.Align)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Align", string.Empty)
            @Html.ValidationMessageFor(model => model.Align)
        </div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.LineSpacing)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LineSpacing)
            @Html.ValidationMessageFor(model => model.LineSpacing)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { currentFilter = ViewBag.currentFilter })
</div>
