@model CollateralCreatorAdminWeb.Models.TextArea

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TextArea</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomizableArea.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomizableArea.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Text)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Text)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FullyEditable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullyEditable)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CharsPerLine)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CharsPerLine)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lines)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lines)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Align)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Align)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LineSpacing)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LineSpacing)
    </div>
</fieldset>
@using (Html.BeginForm(new { searchString = ViewBag.currentFilter }))
{
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index", new { currentFilter = ViewBag.currentFilter })
    </p>
}
