@model CollateralCreatorAdminWeb.Models.Font

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Font</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FontType.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FontType.Name)
    </div>
     <br />
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Size)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Size)
    </div>
     <br />
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bold)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bold)
    </div>
     <br />   
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Color)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Color)
    </div>
     <br />  
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
@using (Html.BeginForm(new { searchString = ViewBag.currentFilter }))
{
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index", new { currentFilter = ViewBag.currentFilter })
    </p>
}
