@model CollateralCreatorAdminWeb.Models.ImageArea

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ImageArea</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomizableArea.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomizableArea.Name)
    </div>
    <br />
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Height)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Height)
    </div>
    <br />
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Width)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Width)
    </div>
    <br />
    <div class="display-label">
         @Html.DisplayNameFor(model => model.PartnerBranded)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PartnerBranded)
    </div>
</fieldset>
@using (Html.BeginForm(new { searchString = ViewBag.currentFilter }))
{
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index", new { currentFilter = ViewBag.currentFilter })
    </p>
}
